<link rel='stylesheet' href='/stylesheets/style.css' />

<nav id="navbar">
  <img id="logo" src="https://i.imgur.com/NMDvawR.png" alt="">
  <div id="links">
  <% if (user) { %>
    <a href="/">HOME</a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google">LOG IN</a>
  <% } %>
  </div>
</nav>

