<!DOCTYPE html>
<html>
  <head>
    <title>Zen Squirrel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <h2>How Zen Squirrel Works</h2>  
      <h3>
        <ol>
          <li>Create your first project</li>
          <li>Create your first task</li>
          <li>Set a timer (25 minutes)</li>
          <li>Stay in the zone as Zen Squirrel displays your timer and relevent tasks</li>
          <li>Take breaks! 5 minutes every after every session, 20 after every four sessions</li>
          <li>Check out your progress in Zen Squirrel's project summaries!</li>
        </ol>
      </h3> 
      <h2>Ready to find your nut? Log in!</h2>
      

    </main>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>

  </body>
</html>
