<!DOCTYPE html>
<html>
  <head>
    <title>Zen Squirrel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <h1>Let us help you find your nut.</h1>
    </main>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>

  </body>
</html>
