<!DOCTYPE html>
<html>
  <head>
    <title>Zen Squirrel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <h2>Why Pomodoro</h2>
      <h2>Do I Need to be a Student?</h2>
      <h2>How it Works</h2>
    </main>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>

  </body>
</html>
