<!DOCTYPE html>
<html>
  <head>
    <title>Template!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="javascripts/main.js"></script>
  </head>
  <body>

    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <div id="pomodoro">
        <h1 id="timedisplay">--:--</h1>
        <button id="workbtn">Start Work</button>
        <button id="breakbtn">Start Break</button>
      </div>
      <div>
        <h1 id="projList">projects</h1>
        <label>Project:</label>
        <select>
            <% projects.forEach(function(p) { %> 
            <option><%= p.name %></option>
            <% }) %>
        </select> 
        <label>Task:</label>
        <select></select>
      </div>

    </main>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
    
  </body>
</html>