<!DOCTYPE html>
<html>
  <head>
    <title>Template!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="javascripts/main.js"></script>
  </head>
  <body>

    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <div>
        <h1 id="timedisplay">--:--</h1>
        <button id="workbtn">Start Work</button>
        <button id="breakbtn">Start Break</button>

      </div>
      

    </main>

    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
    
  </body>
</html>