body {
  margin: 0px;
  display: flex;
  flex-direction: column;

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  background-color: #E5EAED;
}

header {
  background-color: #f7F8F9;
  height: 70px;
}
#navbar {
  display: flex;
  align-items: center;
}
#logo {
  padding-left: 20px;
}
#navbar #links {
  margin-left: auto;
  padding-right: 20px;
  font-size: 20px;
}
#navbar img {
  height: 30px;
}
#logo {
  height: 50px;
}



a {
  color: black;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}