body {
  margin: 0px;
  display: flex;
  flex-direction: column;

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  background-color: #E5EAED;
}

header {
  background-color: #f7F8F9;
  height: 100px;
  font-size: 20px;
}
#navbar {
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 50px;
  height: 100px;
}
#navbar #links {
  margin-left: auto;
  padding-right: 50px;
  font-size: 20px;
}
#navbar h1 {
  padding-left: 50px;
}

a {
  color: black;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}


#projects-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}