@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Cinzel&family=Montserrat&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Castoro&family=Cinzel&family=Montserrat&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=ZCOOL+XiaoWei&display=swap');

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #f7F8F9;
  height: 100px;
  font-size: 20px;
}
.zen {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 50px;
}
.squirrel {
  font-family: 'Architects Daughter', cursive;
}
.title {
  padding-left: 60px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  background-color: #E5EAED;
  padding: 50px;
}
footer {
  width: 100%;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  color: grey;
}
#navbar {
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 50px;
  height: 100px;
}
#navbar #links {
  margin-left: auto;
  padding-right: 50px;
  font-size: 20px;
}
#navbar h1 {
  padding: auto;
}
#pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-family: 'Architects Daughter', cursive;
}
#timedisplay {
  font-size: 50px;
}
#theory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tp {
  max-width: 600px;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}
.proj-view {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}
.proj-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.proj-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.list {
  width: 70%;
}
.deletebtn {
  background-color: red;
  margin-top: 40px;
  margin-bottom: 20px;
}
#s {
  border-style: solid;
}