<!DOCTYPE html>
<html>
  <head>
    <title>My Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <main>
      <div class="proj-nav">
        <%- include('../partials/projnav.ejs') %>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
    
  </body>
</html>